 {{ include("headtop.twig") }}
<div class=" ">
    <h2 class="text-center">Ooops! Seu arquivo tem inconsistências</h2>
<img  src="./img/error.jpg" width="800px" class="mx-auto d-block"/>
<h2 class="text-center">{{ erro }}</h2>
    <p class="text-center"><a href="/produtos" >Voltar a lista de produtos</a></p>
</div>