        {{ include("headtop.twig") }}
        <nav class="navbar navbar-dark bg-danger ">
            <h3 class="mx-5">Teste Mundo Wap</h3>

            <a href="/logout"><button class="btn btn-outline-dark absolute-rigth mx-5 ">Logout</button></a>
        </nav>
