<form id="formfile" action="/readfile" method="post" enctype="multipart/form-data">
    <div class="mb-3 col-sm-4">
        <label for="inputfile" class="form-label">Selecione o arquivo do exel que deseja importar</label>
        <input id="inputfile" class="form-control form-control-sm"  type="file" name="arquivo" >
        <span></span>
    </div>
</form>