{{ include ("head.twig") }}
{{nome }}
<div class="container mt-5">
<form id="formlogin"class="container col-sm-4" action="/" method="post">
    <p>E-mail</p>
    <div class="mb-3 form-floating">
        <input name="email" type="email" class="form-control " id="email" placeholder="name@example.com">
        <label for="email" ></label>
    </div>
    <p>Senha</p>
    <div class="mb-3 form-floating ">
        <input type="password" class="form-control" id="senha" placeholder="senha" name="senha">
        <label for="senha"></label>
    </div>
    <div>
        {{ erro }}
    </div>
    <div class=" mb-3 justify-content-md-end col">
        <button class="btn btn-primary" type="submit">Entrar</button>
        <button class="btn btn-danger" type="reset">Cancelar</button>
    </div>
</form>
</div>
<script src="./js/login.js" type="text/javascript" language="JavaScript"></script>
{{ include("rodape.twig") }}